<div class="container">
  <h2 style="text-align: center;">Login</h2>
  <form [formGroup]="form" class="login-form">
    <div class="container-login">
      <!--Surname-->
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username*">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <!--Email-->
      <mat-form-field class="example-container">
        <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>